* {
  margin: 0;
  padding: 0;
}

.container {
  background: white;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  gap: 20px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(2, 7, 49, 0.7120098039215687) 23%,
    rgba(1, 37, 106, 1) 52%,
    rgba(1, 117, 174, 0.768032212885154) 74%,
    rgba(0, 212, 255, 1) 100%
  );
}

input {
  border-radius: 8px;
  padding: 10px;
  width: 70%;
  margin-right: 10px;
}

h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

button {
  padding: 10px;
  cursor: pointer;
}

ul {
  gap: 20px;
}

li {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  padding: 0px 10px;
  margin: 5px 0;
  border-radius: 5px;
}
