* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#text {
  border: 1px solid #3e1671;
  padding: 11px 15px;
  width: 381px;
  border-radius: 10px;
  background-color: #0d0714;
  color: #9e78cf;
}

.container {
  max-width: 450px;
  width: 100%;
  margin: 60px auto;
}

.button {
  padding: 10px;
  border-radius: 10px;
  background-color: #9e78cf;
  border: 1px solid #9e78cf;
}

#container {
  margin-top: 59px;
}
